.event-header {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  color: #35387d; /* Matches the banner color */
}

.event-item {
  cursor: pointer;
  margin-left: 20px;
  transition: color 0.2s ease-in-out;
}

.event-item:hover {
  color: #007bff;
}

.crossed-out {
  text-decoration: line-through;
  color: gray;
}

.student-list {
  margin: 10px 0;
  padding-left: 40px;
  font-size: 16px;
  color: #555;
}
